#XfceNotifyWindow {
    background-color: #11111b;
    border-radius: 12px;
    border: 2px solid shade(#11111b, 0.8);
	border-color: #8caaee;
    padding: 10px;
}

#XfceNotifyWindow:hover {
    background-color: shade(#11111b, 0.98);
    border-color: #8caaee;
}

#XfceNotifyWindow label,
#XfceNotifyWindow image {
    color: #c6d0f5;
	font-family: "Ubuntu";
}

#XfceNotifyWindow label#summary {
    font-weight: Bold;
}

#XfceNotifyWindow button {
    border-style: none;
    box-shadow: none;
    background-image: none;
    background-color: shade(#85c1dc,0.9);
    color: #11111b;
}

#XfceNotifyWindow button:hover {
    border-style: none;
    box-shadow: none;
    background-image: none;
    background-color: shade(#81c8be, 0.8);
    color: #11111b;
}

#XfceNotifyWindow progressbar {
    min-height: 6px;
    border-radius: 3px;
}

#XfceNotifyWindow progressbar progress {
    background-image: none;
    background-color: shade(#555555, 1.2);
}

#XfceNotifyWindow progressbar trough {
    background-image: linear-gradient(to bottom,
                                      shade(#f9edbe, 0.85),
                                      shade(#f9edbe, 1.05)
                                      );
    border: 1px solid shade(#f9edbe, 0.6);
    border-radius: 3px;
}
