Xcursor.theme : Breeze_Snow
Xcursor.size : 24

# these are for hidpi laptop monitor
Xft.dpi: 142
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
