@import "mocha.css";

@define-color bar-background @mantle;
@define-color bar-accent @teal;
@define-color transparent rgba(0, 0, 0, 0);

* {
    font-family: "Ubuntu Nerd Font";
    font-weight: normal;
    font-size: 14px;
}

window#waybar {
    background: @transparent;
    color: @text;
}

/* Tooltips */
tooltip {
    background: @bar-background;
    color: @text;
    border: 1px solid @bar-accent;
    border-radius: 10px;
}

tooltip label {
    color: @text;
	background: @bar-background;
    padding: 0px 8px 0px 8px;
}

/* Modules below */
/* dimensions: up-left up-right low-right low-left or top right bottom left*/

/* Default settings for most modules */
#apps-windows, #separator, #tray, #system, #window, #submap, #taskbar, #custom-menu, #custom-gfx, #custom-overview, #idle_inhibitor, #cpu, #memory, #network, #pulseaudio, #pulseaudio-slider, #backlight, #backlight-slider, #battery, #clock, #custom-power {
    margin: 2px 0px 2px 0px;
}

#apps-windows { 
    border: 1px solid @bar-accent;
    border-radius: 15px 0px 15px 0px;
    background: @bar-background;
    margin: 2px 0px 2px 10px;
}

#custom-menu {
    color: @text;
    padding: 0px 5px 0px 0px;
}

#custom-menu:hover {
    color: @sapphire;
}

#window {
    padding: 0px 10px 0px 0px;
}

#workspaces {
    padding: 0px 0px 0px 0px;
}

/* box around each workspace icon */
#workspaces button {
    border: 0px;
    border-radius: 7px;
    box-shadow: none;
	text-shadow: none;
    margin: 5px 3px 5px 3px;
    padding: 0px 4px 0px 4px;  
    transition: all 0.25s ease;
    /* animation: gradient_f 20s ease-in infinite;
    transition: all 0.2s cubic-bezier(.55,-0.68,.48,1.682); */
}

#workspaces button.persistent {
    /* occupied but not focused*/
    color: @text;
    background: @bar-background;
}

#workspaces button.empty {
    /* empty persistent */
    color: @surface1;
    background: @bar-background;
}

#workspaces button.visible {
    color: @bar-background;
	background: @overlay0;
}    

#workspaces button.active {
    /* focused */
	color: @bar-background;
    background: @bar-accent;
}

#workspaces button:hover {
    /* on mouse hover */
    color: @bar-background;
    background: @mauve;
}

#workspaces button.urgent {
    color: @bar-background;
    background: @peach;
}

#taskbar {
    color: @text;
    background: @bar-background;
    border-radius: 0px 10px 10px 0px;
    padding-right: 5px;
    padding-left: 5px;
}

#taskbar button {
    color: @text;
    background: @bar-background;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

#taskbar button.active {
    background: #53c240;   
}

#taskbar button.minimized {
    background: #7f849c;
}

#tray {
    background-color: @bar-background;
    border: 1px solid @bar-accent;
    border-radius: 0px 15px 0px 15px;
    margin: 2px 0px 2px 0px;
    padding: 0px 10px 0px 10px;
}

#tray menu {
    background-color: @bar-background;
    color: @text;
    border: 2px solid @bar-accent;
    border-radius: 0px;
    padding: 5px;
}

#tray menu.separator {
    background-color: @bar-background;
    color: @text;
}

#tray menuitem {
    border: 0px;
    color: @text;
}

#tray menuitem:hover {
    border: 0px;
    background-color: @subtext1;
    color: @bar-background;
}

#system {
    border: 1px solid @bar-accent;
    border-radius: 15px 0px 15px 0px;
    background: @bar-background;
    margin: 2px 10px 2px 5px;
}

#submap {
    padding: 0px 0px 0px 10px;
}

#idle_inhibitor {
    padding: 0px 10px 0px 15px;
}

#custom-gfx {
    padding: 0px 10px 0px 10px;
}

#custom-gfx.enabled {
    color: @maroon;
}

#custom-gfx.disabled {
    color: @text;
}

#custom-overview {
    padding: 0px 5px 0px 5px;
}

#custom-overview:hover {
    color: @bar-accent;
} 

#cpu {
    color: @teal;
    padding: 0px 5px 0px 5px;
}

#memory {
    color: @teal;
    padding: 0px 0px 0px 5px;
}

#network {
    color: @text;
    padding: 0px 5px 0px 5px;
}

#bluetooth {
    color: @blue;
    padding: 0px 5px 0px 5px;
} 

#pulseaudio {
    color: @teal;
    padding: 0px 5px 0px 5px;
}

#pulseaudio.microphone {
    color: @yellow;
    padding: 0px 5px 0px 5px;
}

#pulseaudio-slider slider {
    min-height: 5px;
    min-width: 5px;
    border-radius: 5px;
    border: 0px;
    background-color: @bar-accent;
    background-size: 1px;
    padding: 0px;
}

#pulseaudio-slider trough {
    min-height: 5px;
    min-width: 80px;
    border-radius: 5px;
    background-color: @yellow;
}

#pulseaudio-slider highlight {
    min-height: 0px;
    min-width: 0px;
    border-radius: 5px;
}

#backlight {
    color: @green;
    padding: 0px 5px 0px 5px;
}

#backlight-slider slider {
    min-height: 2px;
    min-width: 2px;
    border: 0px;
    border-radius: 5px;
    background-color: @bar-accent;
}

#backlight-slider trough {
    min-height: 5px;
    min-width: 80px;
    border-radius: 5px;
    background-color: @green;
    color: @green;
}

#backlight-slider highlight {
    background-color: @green;
    color: @green;
    min-height: 5px;
    min-width: 0px;
    border-radius: 5px;
}

#battery {
    padding: 0px 5px 0px 5px;
}

#battery.charging, #battery.plugged {
    color: @green;
    background-color: @bar-background;
}

#battery.warning:not(.charging) {
    background-color: @peach;
    color: @bar-background;
    border-radius: 5px;
}

@keyframes blink {
    to {
        background-color: @red;
        color: @bar-background;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: @bar-background;
    border-radius: 5px;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
} 

#clock {
    padding: 0px 5px 0px 5px;
}

#custom-power {
    padding: 0px 10px 0px 5px;
    color: @red;
}

