/* Defaults */
@define-color base  #1e1e2e ;
@define-color text  #cdd6f4 ;


* {
    border: none;
    font-family: "Ubuntu Nerd Font";
    font-weight: normal;
    font-size: 14px;
    padding: 0px;
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    background: rgba(0, 0, 0, 0);
}

/* Tooltips */
tooltip {
    background: @base;
    border: 2px solid #04a5e5;
}
tooltip label {
    padding: 0px 8px 0px 8px;
    color: @text;
}


/* Modules below */
/* dimensions: up-left up-right low-right low-left */

/* Settings for most modules */
#tray, #window, #custom-menu, #idle_inhibitor, #cpu, #memory, #network, #pulseaudio, #pulseaudio-slider, #backlight, #backlight-slider, #battery, #clock, #custom-power {
    background: @base;
    color: @text;
    margin-top: 4px;
    margin-bottom: 4px;
}

#custom-menu {
    background: @base;
    /* color: #2c9cbf; */
    color: @text;
    margin-left: 5px;
    border-radius: 10px 0px 0px 10px;
}

#workspaces {
    background: @base;
    border-radius: 0px 0px 0px 0px;
    /* font-size: 16px; */
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 0px;
    padding-left: 5px;
}

#workspaces button {
    color: #a6e3a1;
    background: @base;
    box-shadow: none;
	text-shadow: none;
    border-radius: 7px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 3px;
    margin-right: 3px;
    padding-left: 3px;
    padding-right: 3px;
    transition: all 0.25s ease;
    /* animation: gradient_f 20s ease-in infinite;
    transition: all 0.2s cubic-bezier(.55,-0.68,.48,1.682); */
}

#workspaces button.persistent {
    /* not occiupied or focused, just there */
    color: #a6e3a1;
    background: @base;
}

#workspaces button.empty {
    /* empty persistent */
    color: #585B70;
    background: @base;
}

#workspaces button.active, 
#workspaces button.visible {
    /* focused */
    color: @base;
    background: #a6e3a1;
}    

#workspaces button:hover {
    /* on mouse hover */
    color: @base;
    background: #74c7ec;
}

#workspaces button.urgent {
    color: @base;
    background: #f38ba8;
}

#window {
    border-radius: 0px 10px 10px 0px;
    padding-right: 10px;
    padding-left: 5px;
}
    
#tray {
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#tray menu {
    background-color: #181825;
    border: 2px solid #04a5e5;
    padding: 5px;
}

#tray menu.separator {
    background-color: @text;
    color: @text;
}

#tray menuitem:hover {
    background-color: #7f849c;
    color: @base;
}


#idle_inhibitor {
    color: #f5e0dc;
    border-radius: 10px 0px 0px 10px;
    margin-left: 5px;
    padding-left: 15px;
    padding-right: 5px;
}

#cpu {
    color: #f5c2e7;
    border-radius: 0px 0px 0px 0px;
    padding-left: 10px;
    padding-right: 5px;
}

#memory {
    color: #cba6f7;
    border-radius: 0px 0px 0px 0px;
    padding-left: 5px;
    padding-right: 5px;
}

#network {
    color: #94e2d5;
    border-radius: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

#bluetooth {
    color: #89b4fa;
    padding-left: 4px;
    padding-right: 4px;
} 

#pulseaudio {
    color: #f9e2af;
    border-radius: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

#pulseaudio.microphone {
    color: #f9e2af;
    border-radius: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

#backlight {
    color: #a6e3a1;
    border-radius: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

#pulseaudio-slider, #pulseaudio-slider *, #backlight-slider, #backlight-slider * {
    padding: 0;
    border-radius: 0px;
}

slider {
    min-height: 5px;
    border-radius: 5px;
    background-color: rgb(104, 106, 104);
}

trough {
    min-height: 5px;
    min-width: 80px;
    background-color: #000000;
}

highlight {
    min-height: 5px;
}

#pulseaudio-slider highlight {
    background-color: #f9e2af;
}

#backlight-slider highlight {
    background-color: #a6e3a1;
}

#battery {
    border-radius: 0px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 0px;
}

#battery.charging, #battery.plugged {
    color: #5fe053;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.warning:not(.charging) {
    color: #f53c3c;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
} 

#clock {
    border-radius: 0px 0px 0px 0px;
    margin-right: 0px;
    padding-right: 10px;
    padding-left: 5px;
}

#custom-power {
    border-radius: 0px 10px 10px 0px;
    margin-right: 5px;
    padding-left: 0px;
    padding-right: 10px;
    color: #f38ba8;
}

