configuration {
    modi: "window,run";
    window-format: "{w}  {c}    {t}";
    kb-accept-entry: "Return,!Alt+Tab,!Super+Tab";
    kb-row-down: "Down,Alt+Tab,Super+Tab";
    kb-row-up: "Up,Alt+Shift+Tab,Super+Shift+Tab";
}

@theme "/themes/catpuccin.rasi"
